# Xcode user data
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~
